### Q1
List the basic data types in python and give one example each.

In [9]:
## integar 
a = 24

## float
b = 2.4

## boolean 
a > b

## string
z = "Text"

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [20]:
## (i)
x = 4539.85
y = str(x)
z = int(x)

print (type(y))

print (type (z))

<class 'str'>
<class 'int'>

### Q3

What data type would you use to store

a. The price of car?

float

b. The age of a person

integar

c. car plate number: plateNumber = "AV01-AFP"?

string

d. The price of fuel

float

e. The number of students in the class

integar

f. The weight of a person

float

g. Check whether two figures are equal

boolean

i. The name of a  school

string

j. The average result of the overall score of a student

float

k. The total number of vote cast

integar

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [39]:
statement = "Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team"

statement_1, statement_2 = statement.split('. ')

print (statement_1)
print (statement_2)

Thomas Partey is arguably the best player in the Black Stars
He is a great addition to the team

In [43]:
## What is the length of statment 1?
len (statement_1)

60

In [44]:
## What is the length of statment 2?
len (statement_2)

35

In [45]:
## Is the length of statement 1 greater than statement 2?
len(statement_1) > len(statement_2)

True

### Q5
What values does python use to represent **True** and **False** respectively?

True and False

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [58]:
##1. 78 is greater than 46 and less than 30 which is an odd number.
30 % 2==1 > 78 > 46

False

In [64]:
##2. 8-2 is an even number or 8 is a is an odd number.
(8-2) % 2 == 0 or 8 % 2 == 1

True

In [69]:
##3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.
len ("boostrap")==7 and len("sample")==6

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [75]:
word='Hello, How are you?'
words=word.split()
words

['Hello,', 'How', 'are', 'you?']

In [92]:
## Write Python code to return the following "How"
print (words[1])
print (word[7:10])

How
How

In [90]:
## Write Python code to return the following "How are you"
print (word[7:-1])

How are you

In [93]:
## Write Python code to return the following "are"
print (words[2])
print (word[11:14])

are
are

In [86]:
## Write Python code to return the following "?"
print(word[-1])

?

In [87]:
## Write Python code to return the following "Hello, How are you"
print (word[:-1])

Hello, How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [96]:
##Convert sentence to upper case
sentence = "I am very excited"
sentence.upper()

'I AM VERY EXCITED'

In [97]:
##Convert sentence to lower case
sentence.lower()

'i am very excited'

In [98]:
##Convert sentence to title case
sentence.title()

'I Am Very Excited'

In [99]:
##Convert sentence to list of strings
sentence.split()

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [107]:
word = 'OneThirtyEight'

##Using Python code extract the following from the variable word: "One"
print(word[:3])

##Using Python code extract the following from the variable word: "Thirty"
print(word[3:9])

##Using Python code extract the following from the variable word: "Eight"
print(word[9:14])

##Using Python code extract the following from the variable word: "OneThirty"
print(word[:9])

##Using Python code extract the following from the variable word: "ThirtyEight"
print(word[3:14])

##Using Python code extract the following from the variable word: "ONETHIRTYEIGHT"
print(word.upper())

One
Thirty
Eight
OneThirty
ThirtyEight
ONETHIRTYEIGHT


### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [110]:
name="Ault'Kelly"
name

"Ault'Kelly"